%p#notice= notice
%p
  %strong Name:
  = @order.name
%p
  %strong Status:
  = @order.status
%p
  %strong User:
  = @order.user
= link_to 'Edit', edit_order_path(@order)
|
= link_to 'Back', orders_path
